body {
  /*background: #eeeeee;*/
  background: #ffd6d6;
  /*color: rgba(0,0,0,0.87);*/
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 10px 0px;
  /*width: 100px;*/
  /*cursor: pointer;*/
}

a {
  text-decoration: none;
}

h3 {
  margin: 0px 0px 7px 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: black;
}

.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  box-shadow: 0px 1px #cccccc;
  z-index: 2;
  /*display: none;*/
}

#menu {
  position: relative;
  float: left;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5px;
  cursor: pointer;
  z-index: 1;
}

#menu:hover {
  opacity: 0.6;
}

#kor {
  position: relative;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
}

#yt {
  position: absolute;
  float: right;
  display: block;
  top: 20px;
  right: 20px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  opacity: 0.9;
}

#yt:hover {
  opacity: 0.6;
}

#fsb {
  /*font-family: 'Maven Pro', sans-serif;*/
  /*font-family: 'Titillium Web', sans-serif;*/
  position: relative;
  top: 20px;
  display: block;
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
  text-align: center;
  letter-spacing: 7px;
  padding: 0;
  margin: 0;
  /*cursor: pointer;*/
  /*border-top: 0px;*/
  /*border-left: 50%;*/
}

#dim {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  /*color: rgba(0.5, 0.5, 0.5 ,0.5);*/
  z-index: 1;
}

#sidenav {
  position: absolute;
  top: 60px;
  bottom: 0px;
  height: auto;
  width: 200px;
  padding: 20px 0px;
  background-color: white;
  /*display: none;*/
}

#sidenav p {
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
  font-size: 10pt;
  letter-spacing: 5px;
  margin: 30px 0px;
  cursor: pointer;
}

#sidenav a {
  text-align: center;
  text-decoration: none;
  letter-spacing: 5px;
  margin: 30px 0px;
  cursor: pointer;
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
  color: black;
}

#sidenav a:hover {
  color: gray;
}

.content {
  position: absolute;
  top: 60px;
  height: auto;
  /*right: 0px;*/
  width: 100%;
  background-color: #ffd6d6;
  z-index: -1;
  /*margin-left: 200px;*/
  /*left: 200px;*/
  /*display: none;*/
}

.inner {
  margin: 50px auto;
  padding: 30px 50px;
  width: 50%;
  background-color: #FFFFFF;
}

.inner a {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-decoration: none;
  margin: 10px 0px;
  padding-top: 0px;
}

.inner a:hover {
  color: gray;
}

@media screen and (max-width: 1000px) {
  #sidenav {
    width: 100%;
    bottom: auto;
  }
  .content {
    /*position: relative;*/
    top: 300px;
  }
}

#message {
  background: white;
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
}

#message h2 {
  color: #ffa100;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 8px;
}

#message h1 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0,0,0,0.6);
  margin: 0 0 16px;
}

#message p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}

#message a {
  display: block;
  text-align: center;
  background: #039be5;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 4px;
}

#message, #message a {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#load { color: rgba(0,0,0,0.4); text-align: center; font-size: 13px; }
      @media (max-width: 600px) {
        body, #message { margin-top: 0; background: white; box-shadow: none; }
        body { border-top: 16px solid #ffa100; }
      }